
.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn{
    margin: 6px;
}
.fa-play-circle {
    margin-left: 4px;
}
@media screen and (max-width:960px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 75px;
        margin-top: -15px;
    }
    
}
@media screen and (max-width: 768px){
    .hero-container > h1 {
        color: #fff;
        font-size: 50px;
        margin-top: -8px;
    }
    .hero-container > p {
        font-size: 30px;
    }
    .btn-mobile{
        display:block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
    }
}
